<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="DataResourceProvider" type="KissIT.Resources.Configuration.DataResourceProviderConfig, KissIT.Resources"/>
  </configSections>
  
  <DataResourceProvider ConnectionStringName="centraladmin" InstanceId="485"></DataResourceProvider>

  <connectionStrings>
    <add name="centraladmin" connectionString="Provider=sqloledb;Data Source=CS-HQ-SQL10-D;Initial Catalog=centraladmin;Integrated Security=SSPI; Connect Timeout=10000;"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.2"/>
  </startup>

  <system.web>
    <globalization resourceProviderFactoryType="KissIT.Resources.DataResourceProviderFactory, KissIT.Resources"/>
  </system.web>
  
</configuration>
